.login-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;

  margin-top: 64px;
}

.login-form h1 {
  font-weight: 400;
}

.login-form__buttons {
  display: grid;
  text-align: center;
  gap: 10px;
}

.login-form__buttons .button {
  width: 280px;
}
