.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 76px;
}

.header__logo {
  margin-left: 64px;
}

.header__home {
  color: var(--accent);
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 6px;
}

.header__actions {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 24px;
  margin-right: 24px;
}
